<div class="row">
<div class="col-md-8">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Staff Information</h5>
    </div>
    <div class="card-body">

      <form autocomplete="off">
     
        <div class="row">
          <div class="col-md-12 pr-1">
            <div class="form-group">
             
              
                <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                     <label>StaffName</label>
                     <input type="text" class="form-control" [(ngModel)]="staffForm.staff_name" name="staff_name"
                     placeholder="StaffName" value="Creative code"
                     />

                     <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Designation</label>
                            <input type="text" class="form-control" 
                            [(ngModel)]="staffForm.designation" name="designation"
                            placeholder="Enter the designation" value="Creative code"
                            />

                           </div>
                           </div>
                           </div>
                           </div>
                           </div>
                           </div>
                           </div>
                           </div>
        </div>

                           <div class="row">
                            <div class="update ml-auto mr-auto">
                              <button type="submit" class="btn btn-primary btn-round" (click)="update()">
                                Update
                              </button>
            </div>
            </div>
            
            </form>
    </div>
    </div>
</div>
</div>
 